 /* wallust template - colors-waybar */

 @define-color foreground #E3D6CD;
 @define-color background #141414;
 @define-color background-alt rgba(20,20,20,0.25);
 @define-color cursor #807F7D;
 
 @define-color color0 #3C3C3B;
 @define-color color1 #100F0E;
 @define-color color2 #151F22;
 @define-color color3 #494542;
 @define-color color4 #494542;
 @define-color color5 #4A4542;
 @define-color color6 #846754;
 @define-color color7 #CFBCAF;
 @define-color color8 #91837A;
 @define-color color9 #151413;
 @define-color color10 #1C292D;
 @define-color color11 #625C58;
 @define-color color12 #625C58;
 @define-color color13 #625C58;
 @define-color color14 #B08970;
 @define-color color15 #CFBCAF; 